<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col col-xs-6">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>+370 608 51117</li>
        </ul>
      </div>
      <div class="footer-col col-xs-6">
        <p><br><br>@2015 Arneva. Visos teisės saugomos</p>
      </div>
    </div>

  </div>

</footer>
<script src="/js/main.js"></script>