  <nav class="navbar-menu desktop">
          <div class='navbar-logo-wrap'>
              <a class="navbar-logo" href="/">
                <img src="img/Arneva50.png"/>
              </a>
          </div>
          <div class='navbar-item-wrap'>
              <a class="navbar-item" href="/kroviniupervezimas">
                  <div>Krovinių Pervežimas</div>
              </a>
              <a class="navbar-item" href="/techninepagalbakelyje">
                  <div>Techninė Pagalba</div>
              </a>
              <a class="navbar-item" href="/autoservisas">
                  <div>Autoservisas</div>
              </a>
          </div>
  </nav>
  
    <nav class="navbar-menu mobile">
          <div class='navbar-logo-wrap'>
              <a class="navbar-logo" href="/">
                <img src="img/Arneva50.png"/>
              </a>
          </div>
          <div class='navbar-item-wrap'>
              <a class="navbar-item" href="/kroviniupervezimas">
                  <div>Krovinių Pervežimas</div>
              </a>
              <a class="navbar-item" href="/techninepagalbakelyje">
                  <div>Techninė Pagalba</div>
              </a>
              <a class="navbar-item" href="/autoservisas">
                  <div>Autoservisas</div>
              </a>
          </div>
  </nav>